*{
	margin: 0;
	padding: 0;
	background: mediumpurple;
}

body{
font-family: sans-serif, arial;
font-size: 16px;
background: green;

}
.contenedor{
	width: 1000px;
	margin: 20px;
}

header{
	background: white;
}

header nav{
	width: 100%;
}

header nav ul{
	width: 100%;
	overflow: hidden;
}

header nav ul li{
	float: left;
	list-style: none;
	display: inline-block;
	margin: 20px 15px;
}

header nav ul li a{
	text-decoration: none;
	display: inline-block;
	padding: 20px 15px;
	color: navy;
}

header nav ul li a:hover{
	background: navy;
	color: white;
}

.main{
	width: 680px;
	float: left;
}

.main .imagen{
	width: 100%;
}

.main .imagen img{
width: 100%;
}

.main .post{
	padding: 40px;
	background: white;-
}

.main .post h2{
	color: royalblue;
	margin: 20px;
}

.main .post p{
	color: white;
	line-height: 27px;
	margin-bottom: 20px;
}

aside{
	width: 280px;
	background: black;
	color:  white;
	padding: 20px;
	overflow: hidden;
}

aside .widget {
	margin-bottom: 20px;
}

aside .widget h2{
	color: greenyellow;
	border-bottom: 1px solid;
	margin: 10;

}

aside .widget ul{
	list-style: none;

}
aside .widget ul li {
	border-bottom: 1px solid chocolate;
	padding: 10px 0px;
}

aside .widget ul li a{
	text-decoration: none;
	color: navajowhite;
	display: inline-block;
}

asidse .widget ul li a:hover{
	background:greenyellow ;
	color: black;
}

aside .widget p{
	line-height: 27px;
	text-align: justify;
}
footer {
	width: 1000px;
	background: black;
	padding: 40px;
	text-align: center;
	color: whitesmoke;
	overflow: hidden;

}